<div class="row bigRect">
<nav class="navbar navbar-default nav-custom" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			 <a id="siteLogo" class="navbar-brand" href="{{path('renaissance_web_homepage')}}"><img src="{{asset('bundles/renaissanceweb/img/default/navi_logo.png')}}"></a>
		</div>
		<div class="collapse navbar-collapse" >
			<ul class="nav navbar-nav left">
				<li><a href="{{ path('course_index') }}">课程广场</a></li>
				<li><a href="/infocenter.html">客服中心</a></li>
			</ul>
			<div class="collapse navbar-collapse" >
				<ul class="nav navbar-nav navbar-right">
					{% if user is empty %}
					<li style="margin-top:5px"><a href="{{ path('login') }}"><i class="fa fa-user">&nbsp登陆</i></a></li>
					<li style="margin-top:5px"><a href="{{ path('register') }}"><i class="fa fa-edit">&nbsp注册</i></a></li>
					{% else %}
					<li class="searchConLi"><input id="searchCon" type="text" placeholder="搜索你感兴趣的内容"></li>
					<li class="searchLi"><a class="search"href="Javascript:void(0);"><i class="fa fa-search"></i></a></li>
					<li class="headPicLi"><a href="Javascript:void(0);" class="headPic">
					<img  class="img-circle" src="{{ asset(user.getAvatarUrl) }}"></a></li>
					<li>
						<ul id="settingsMenu" class="nav navbar-nav navbar-right settings">
							<li><a href="{{ lmsUrl }}" class="">学习</a></li>
							<li><a href="{{ path('user_index',{'user_id':user.getId}) }}" class="">我的主页</a></li>
							<li><a href="{{ lmsUrl }}conversations?" class="">消息</a></li>
							<li><a href="{{ lmsUrl }}settings" class="">设置</a></li>
							<li><a href="/logout" class="">退出</a></li>
						</ul>
					</li>
					{% endif %}
				</ul>
			</div>
			{# {% endif %} #}
		</div>
	</div>
</nav>
</div>