{% extends "RenaissanceWebBundle:Layout:layout.html.twig" %}
{% block title %}RenaissanceWebBundle:Course:index{% endblock %}
{% block stylesheets %}
<link href="{{asset('bundles/renaissanceweb/css/plaza.css')}}" rel="stylesheet" type="text/css">
</link>
{% endblock %}
{% block content %}
<!-- Content -->
<div class="container-fluid" style="margin-bottom:30px;">
<div class="row" style="margin-top:40px;">
<div id="left" class="col-xs-2" style="padding-left:0px;">
<div id="mp"  class="col-xs-12"style="min-width:180px;">
{% include "RenaissanceWebBundle:Course:plaza_navbar.html.twig" %}
</div>
<div id="mpb" class="col-xs-12"style="ｗidth:100%;margin-top:40px;background-color:#b01e00;color:white;font-size:4em;padding:20px;text-align:center"><a style="color:inherit">学习计划</a>
</div>
</div>
<div class="col-xs-9">
<div class="row plazaPanel plazaPanel-center">
<div class="col-xs-12">
<p style="color: #b01e00;font-size: 30px;margin: 15px;">课程分类&gt;全部</p>
<div id="courses" style="overflow:hidden">
{% include "RenaissanceWebBundle:Course:plaza_more.html.twig" %}
</div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
{# <script src="{{asset('bundles/renaissanceweb/js/j.js')}}"></script> #}
<script src="{{asset('bundles/renaissanceweb/js/plazaNavi.js')}}"></script>
<script src="{{asset('bundles/renaissanceweb/js/pageAjax.js')}}"></script>
<script src="{{asset('bundles/renaissanceweb/js/plazaPage.js')}}"></script>
{% endblock %}

