{% extends "RenaissanceWebBundle:Layout:layout.html.twig" %}
{% block title %}RenaissanceWebBundle:Course:show{% endblock %}
{% block stylesheets %}
<link href="{{asset('bundles/renaissanceweb/css/star-rating.min.css')}}" rel="stylesheet" type="text/css"></link>
<link href="{{asset('bundles/renaissanceweb/css/1.0/common.css')}}" rel="stylesheet" type="text/css"></link>
{% endblock %}
{% block content %}
<div class="container-fluid">
<!-- 课程介绍 -->
<div class="col-md-10 col-md-offset-1 courseProfile whiteRec">
<div class="col-md-12" >
<ol class="breadcrumb courseBC">
<li><a href="#">课程分类</a></li>
<li><a href="#">Web前端开发技术</a></li>
</ol>
</div>
<div class="col-md-12 profileMain" style="">
<div class="col-md-4 profileBase">
<div class="col-md-12" >
<div class="
cPrice dashedRec">
<p class="title">
<i class="fa fa-money"></i> 售价
</p>
<p class="content">
￥12
</p>
</div>
<div class=" cStars dashedRec">
<p class="title">
<i class="fa fa-star"></i> 评价
</p>
<p class="content">
4星
</p>
</div>
<div class="cMembers dashedRec">
<p class="title">
<i class="fa fa-users"></i> 报名
</p>
<p class="content">
200人
</p>
</div>
</div>
<div class="col-md-12">
<a class="button button-large button-flat-flame">参 与 学 习</a>
</div>
</div>
<div class="col-md-8 profileImg">
<img src="{{cover}}">
</div>
<div class="col-md-4 profileInfo">
<div class="col-md-12">
<p class="courseName">{{course.name}}</p>
<p class="courseCon">{{page.body}} </p>
</div>
</div>
</div>
<div class="col-md-12 profileDetail">
<div class="col-md-8 profileLPanel">
<div class="navbarMin">
<ul class="clearfix">
<li><a class="active">课时</a></li>
<li><a>证书</a></li>
<li><a>笔记</a></li>
<li><a>讨论</a></li>
<li><a>证书</a></li>
</ul>
</div>
<div class="navCon col-md-12">
<!-- 左侧框内容 -->
<div class="unitInfo">
<h1 class="unitTitle">
第一章 PHP基础
</h1>
<ul class="timeLine">
<li class="item">
<time class="tmtime">课时1</time>
<div class="tmicon"></div>
<div class="tmlabel">
<p>PHP绘图</p>
</div>
</li>
<li class="item">
<time class="tmtime">课时2</time>
<div class="tmicon"></div>
<div class="tmlabel">
<p>PHP框架介绍</p>
</div>
</li>
<li class="item">
<time class="tmtime">课时3</time>
<div class="tmicon"></div>
<div class="tmlabel">
<p>PHP底层探究</p>
</div>
</li>
</ul>
</div>
<div class="unitInfo">
<h1 class="unitTitle">
第一章 PHP基础
</h1>
<ul class="timeLine">
<li class="item">
<time class="tmtime">课时1</time>
<div class="tmicon"></div>
<div class="tmlabel">
<p>PHP绘图</p>
</div>
</li>
<li class="item">
<time class="tmtime">课时2</time>
<div class="tmicon"></div>
<div class="tmlabel">
<p>PHP框架介绍</p>
</div>
</li>
<li class="item">
<time class="tmtime">课时3</time>
<div class="tmicon"></div>
<div class="tmlabel">
<p>PHP底层探究</p>
</div>
</li>
</ul>
</div>
<div class="unitInfo">
<h1 class="unitTitle">
第一章 PHP基础
</h1>
<ul class="timeLine">
<li class="item">
<time class="tmtime">课时1</time>
<div class="tmicon"></div>
<div class="tmlabel">
<p>PHP绘图</p>
</div>
</li>
<li class="item">
<time class="tmtime">课时2</time>
<div class="tmicon"></div>
<div class="tmlabel">
<p>PHP框架介绍</p>
</div>
</li>
<li class="item">
<time class="tmtime">课时5</time>
<div class="tmicon"></div>
<div class="tmlabel">
<p>PHP底层探究</p>
</div>
</li>
</ul>
</div>
</div>
</div>
<div class="col-md-4 profileRPanel">
<div class="col-md-12 profileTeacher">
<p class="title">授课老师</p>
<div class="col-md-12 info">
{% for head in heads %}
    <div class="col-md-5"><img class="headPic img-circle"src="{{head}}"></div>
{% endfor %}
<div class="col-md-7">
<p class="name">
{% for teacher in teachers %}
    {{teacher.name}}
{% endfor %}
</p>
<p class="property">
Web前端工程师
</p>
</div>
</div>
</div>
<div class="col-md-12 profileComments">
<p class="title">我要评价:<input id="makeStars" type="number" ></p>
<p>
</p>
<p class="inputComm"><textarea></textarea><a class="button button-large button-flat-flame">提交</a></p>
<p class="title">
最新评价
</p>
<div class="commList">
<ul>
<li class="clearfix">
<div class="col-md-2 headPic "><img class="img-circle" src="{{asset('bundles/renaissanceweb/img/commHead.jpg')}}"></div>
<div class="col-md-8 detail">
<p>
<span class="name">田馥甄</span>
<span class="stars">
<i class="fa fa-star"></i>
</span>
</p>
<p class="content">Tim老师讲的非常不错</p>
</div>
<div class="col-md-2 time">2小时前</div>
</li>
<li class="clearfix">
<div class="col-md-2 headPic "><img class="img-circle" src="{{asset('bundles/renaissanceweb/img/commHead.jpg')}}"></div>
<div class="col-md-8 detail">
<p>
<span class="name">王尧山</span>
<span class="stars">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</span>
</p>
<p class="content">非常不错</p>
</div>
<div class="col-md-2 time">12小时前</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<!-- 相关课程 -->
<div class="col-md-10 col-md-offset-1 courseRec whiteRec">
<div class="col-md-12" style="font-size:2.5rem;padding-bottom:10px;">
相关课程
</div>
<div class="col-md-3 courseRecCard">
<div class="view viewForCard">
<img src="{{asset('bundles/renaissanceweb/img/相关课程jQuery.png')}}">
<div class="mask">
<h2>jQuery</h2>
<p>Jquery是继prototype之后又一个优秀的Javascript框架。它是轻量级的js库 ，它兼容CSS3，还兼容各种浏览器.jQuery使用户能更方便地处理HTML</p>
<a href="#" class="info"><i class="fa fa-hand-o-right"></i></a>
</div>
<div class="info"><p class="title">jQuery设计</p><p class="members"><i class="fa fa-user"></i> 30人</p></div>
</div>
</div>
<div class="col-md-3 courseRecCard">
<div class="view viewForCard">
<img src="{{asset('bundles/renaissanceweb/img/相关课程jQuery.png')}}">
<div class="mask">
<h2>jQuery</h2>
<p>Jquery是继prototype之后又一个优秀的Javascript框架。它是轻量级的js库 ，它兼容CSS3，还兼容各种浏览器.jQuery使用户能更方便地处理HTML</p>
<a href="#" class="info"><i class="fa fa-hand-o-right"></i></a>
</div>
<div class="info"><p class="title">jQuery设计</p><p class="members"><i class="fa fa-user"></i> 30人</p></div>
</div>
</div>
<div class="col-md-3 courseRecCard">
<div class="view viewForCard">
<img src="{{asset('bundles/renaissanceweb/img/相关课程jQuery.png')}}">
<div class="mask">
<h2>jQuery</h2>
<p>Jquery是继prototype之后又一个优秀的Javascript框架。它是轻量级的js库 ，它兼容CSS3，还兼容各种浏览器.jQuery使用户能更方便地处理HTML</p>
<a href="#" class="info"><i class="fa fa-hand-o-right"></i></a>
</div>
<div class="info"><p class="title">jQuery设计</p><p class="members"><i class="fa fa-user"></i> 30人</p></div>
</div>
</div>
<div class="col-md-3 courseRecCard">
<div class="view viewForCard">
<img src="{{asset('bundles/renaissanceweb/img/相关课程jQuery.png')}}">
<div class="mask">
<h2>jQuery</h2>
<p>Jquery是继prototype之后又一个优秀的Javascript框架。它是轻量级的js库 ，它兼容CSS3，还兼容各种浏览器.jQuery使用户能更方便地处理HTML</p>
<a href="#" class="info"><i class="fa fa-hand-o-right"></i></a>
</div>
<div class="info"><p class="title">jQuery设计</p><p class="members"><i class="fa fa-user"></i> 30人</p></div>
</div>
</div>
</div>
<div class="col-md-1 rightControls">
<ul>
<li class="">
<a><i class="fa fa-user" title="进入个人中心"></i></a>
</li>
<li class="">
<a><i class="fa fa-qrcode" title="扫描二维码"></i></a>
</li>
<!-- 返回顶部 -->
<li class="toTop">
<a><i class="fa fa-angle-up" title="返回顶部"></i></a>
</li>
</ul>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{asset('bundles/renaissanceweb/js/star-rating.min.js')}}"></script>
<script src="{{asset('bundles/renaissanceweb/js/courseIntro.js')}}"></script>
{% endblock %}
